<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>
            Principal
        </title>
    </head>
    <body>
        <h1>
            Pagina Principal
        </h1>

        <!-- 
                                   hostname\/                                           db\/              usúario\/                senha\/
            jdbc:postgresql://dpg-cperjhfsc6pc73a314g0-a.oregon-postgres.render.com/fatecjava_k070?user=postgres1&password=LKpylvF09jWaw5gVHEkCbzfeFmyIHLl3:5432/postgres

         -->
    </body>
</html>